.navbar {
  // border: 0;
  background-color: white;
}

.navbar-default .navbar-brand {
  color: $teal;
}

.navbar-default .navbar-nav>li>a {
  color: $teal;
}

.navbar-default .navbar-nav>.active>a {
  color: $orange;
  background-color: transparent;
}

.dev-notes {
  display: block;
  margin: 0 auto;
  max-width: 38em;
}

.recipe-thumbnail {
  header {
    text-align: center;
  }

  img {
    width: 100%;
  }
}

.single {
  header {
    text-align: center;
    h1 {
      color: $teal;
    }
    h2 {
      color: $teal;
      display: inline;
    }

    margin-bottom: 4em;
  }

  main {
    .guac-photo {
      text-align: center;
      max-width: 38em;
      margin: 0 auto;

      img {
        width: 100%
      }
    }

    .guac-description {
      max-width: 38em;
      margin: 2em auto;
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}
